includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - app
        - routes

    excludePaths:
        - storage/*
        - bootstrap/cache/*

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            identifier: missingType.iterableValue
