// https://tailwindcss.com/docs/colors
// https://oklch.com/#0.505,0.213,27.52,100
$color-bg:        #ffffff;
$color-text:      #1f2937;
$color-muted:     #6b7280;
$color-border:    #e5e7eb;
$color-primary:   #42b883;
$color-link:      #2c3e50;
$color-red-700:   #c10007;
$color-green-700:   #008236;
$color-blue-500:   #2b7fff;
$color-blue-700:   #1447e6;

$header-height:   56px;
$content-pad:     24px;

$font-family:     system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
$radius:          4px;
