@use 'variables' as *;

body {
    margin: 0;
    font-family: $font-family;
    color: $color-text;
    background: $color-bg;
    cursor: default;
}

a {
    color: $color-blue-700;
    text-decoration: none;
    transition: color 0.3s;
    &:hover{
        color: $color-blue-500;
    }
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 $content-pad;
    box-sizing: border-box;
}

svg{
    width: 16px;
    height: 16px;
    path{
        transition: fill 0.3s;
    }
}

.n-card__footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
